In [1]:
import pandas as pd

In [2]:
#exploracion inicial individual del archivo data_remaning_kaggle.csv

df_csv1 = pd.read_csv('data_remaning_kaggle.csv')

In [12]:
df_csv1.sample(5)

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
1926,1926,1926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Polyaxon,NaN,NaN,NaN,NaN,NaN
5672,5672,5672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23065,23065,23065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
17290,17290,17290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16703,16703,16703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_csv1.shape

#Hay 214 columnas
#Hay 25973 filas/registros

(25973, 214)

In [29]:
df_csv1.describe().T

#casi todas las entradas tienen valor no numÃ©rico
# no se puede sacar mucha info de aqui

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,25973.0,12986.0,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
index,25973.0,12986.0,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
Q30_B_Part_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_OTHER,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_csv1.columns

Index(['Unnamed: 0', 'index', 'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3',
       'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER', 'Q19_Part_1',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=214)

In [30]:
df_csv1.describe(include = object).T
#en las columnas sÃ³lo hay un tipo de respuesta en toda la columna
#que es la que vemos en top 
#Eso es porque cada columna corresponde a un tipo de respuesta
#Podemos ver en count o en freq la cantidad de veces que se ha elegido esa respuesta

,count,unique,top,freq
Q18_Part_1,2662,1,"General purpose image/video tools (PIL, cv2, s...",2662
Q18_Part_2,2740,1,"Image segmentation methods (U-Net, Mask R-CNN,...",2740
Q18_Part_3,2716,1,"Object detection methods (YOLOv3, RetinaNet, etc)",2716
Q18_Part_4,4373,1,Image classification and other general purpose...,4373
Q18_Part_5,1492,1,"Generative Networks (GAN, VAE, etc)",1492
...,...,...,...,...
Q38_B_Part_8,1020,1,ClearML,1020
Q38_B_Part_9,666,1,Domino Model Monitor,666
Q38_B_Part_10,2747,1,MLflow,2747
Q38_B_Part_11,4542,1,None,4542
Q38_B_OTHER,377,1,Other,377

In [21]:
df_csv1.info()
#hay demasiadas columnas y no nos enseÃ±a la info de cada columna 
#(indice, nombre, cuantos non_null y datatype)
#solo interesa saber el numero de nulls que podemos obtener con .isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Columns: 214 entries, Unnamed: 0 to Q38_B_OTHER
dtypes: float64(8), int64(2), object(204)
memory usage: 42.4+ MB

In [20]:
df_csv1.isnull().sum()
#Hay 25973 filas/registros
#muchas columnas estan vacias o tienen un porcentaje demasiado elevado de vacias
#Esto significa que algunas respuestas no han sido elegidas por nadie o por casi nadie

Unnamed: 0           0
index                0
Q18_Part_1       23311
Q18_Part_2       23233
Q18_Part_3       23257
                 ...
Q38_B_Part_8     24953
Q38_B_Part_9     25307
Q38_B_Part_10    23226
Q38_B_Part_11    21431
Q38_B_OTHER      25596
Length: 214, dtype: int64

In [27]:
df_csv1['Q18_Part_1'].value_counts()

General purpose image/video tools (PIL, cv2, skimage, etc)    2662
Name: Q18_Part_1, dtype: int64

###CONCLUSIONES

    -Este csv es el listado de respuestas posibles para las preguntas desde la Q18 hasta la Q38B
    -Eliminar directamente del listado las respuestas de las preguntas que hemos decidido que no son relevantes
    -Podemos eliminar las columnas que estan vacias ya que nadie selecciono esa respuesta
    -Podemos eliminar las columnas que estan casi vacias porque no son relevantes
    -Podemos sacar el porcentaje de nulos de cada columna para visualizarlo mejor
    -Decidir a partir de quÃ© porcentaje tenemos en cuenta la respuesta
    -Podriamos juntar todas las respuestas de una pregunta en una sola columna, para tener menos columnas, como ya estÃ¡ en conversion_txt o en conversion_xml